html {
  margin: 0 5% 0 5%;
}
@media (max-width: 500px) {
  html {
    margin: 0 0 0 0;
  }
}
html body {
  font-family: 'Bitter', serif;
  display: flex;
  flex-flow: column nowrap;
  background-color: #FBF5F3;
  color: #2C406F;
}
@media (max-width: 500px) {
  html body {
    width: 100%;
  }
}
html body .donate {
  background-color: #B52020;
  color: #fbf5f3;
  padding: 7px;
  font-family: 'Bitter', serif;
}
html body .tell-us {
  background-color: #B52020;
  color: #FBF5F3;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #FBF5 F;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Bitter', serif;
  margin: 2%;
}
@media (max-width: 500px) {
  html body .tell-us {
    padding: 10px 35px;
    margin: 0;
  }
}
html body button:hover {
  background-color: #011638;
}
html body footer {
  margin-top: 60px;
  text-align: center;
  font-size: 0.6rem;
}
html body hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}
.nav-bar {
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .nav-bar {
    margin-bottom: 10px;
  }
}
.nav-bar .nav {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .nav-bar .nav {
    flex-flow: column;
  }
}
.nav-bar .nav img {
  max-height: 40px;
  width: auto;
}
.nav-bar .nav .nav-items {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  .nav-bar .nav .nav-items {
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
.nav-bar .nav .nav-items a {
  text-decoration: none;
  color: #2C406F;
}
@media (max-width: 500px) {
  .nav-bar .nav .nav-items a {
    padding: 5px;
  }
}
.main-content {
  background-image: url("../Images/Group.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 50%;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .main-content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.main-content h1 {
  color: #FBF5F3;
  padding: 0 3%;
}
@media (max-width: 500px) {
  .main-content h1 {
    font-size: 1.4rem;
  }
}
.main-content .btn-1 {
  padding: 0 2%;
}
@media (max-width: 500px) {
  .main-content .btn-1 {
    margin-top: 80px;
  }
}
.mission-statement {
  text-align: center;
  padding: 0 15%;
  margin-bottom: 20px;
}
.mission-statement h2 {
  font-weight: bold;
}
.mission-statement p {
  font-size: 0.8rem;
}
.story-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: #FBF5F3;
  margin-bottom: 10px;
}
.story-content h2 {
  margin: 25px 0;
}
.story-content p {
  font-size: 0.8rem;
  margin: 1.5px;
}
@media (max-width: 500px) {
  .story-content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.story-content div {
  width: 33%;
  height: 141px;
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%);
  transition: 0.6s;
}
@media (max-width: 500px) {
  .story-content div {
    width: 80%;
    margin: 1%;
  }
}
.story-content .story-1 {
  background-image: url("../Images/story1.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.story-content .story-1:hover {
  transform: scale(1.2);
  background-image: url("../Images/story1.png");
  z-index: 1;
  box-shadow: 2px 2px 2px #507DBC;
}
.story-content .story-2 {
  background-image: url("../Images/story2.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.story-content .story-2:hover {
  transform: scale(1.2);
  background-image: url("../Images/story2.png");
  z-index: 1;
  box-shadow: 2px 2px 2px #507DBC;
}
.story-content .story-3 {
  background-image: url("../Images/story3.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.story-content .story-3:hover {
  transform: scale(1.2);
  background-image: url("../Images/story3.png");
  z-index: 1;
  box-shadow: 2px 2px 2px #507DBC;
}
.more-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 10%;
  margin: 10px 0;
}
.more-content .button:hover {
  color: #507DBC;
}
.more-content h5,
.more-content p {
  text-align: center;
  margin: 2px;
}
.more-content .drop-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #FBF5F3;
}
@media (max-width: 500px) {
  .more-content .drop-content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.more-content .drop-content div {
  margin: 10px 20px;
  background-color: #2C406F;
  height: 140px;
  width: 160px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.more-content .drop-content div p {
  font-size: 0.8rem;
}
.more-content .drop-content div:hover {
  transform: scale(1.2);
  background-color: #507DBC;
  z-index: 1;
  box-shadow: 2px 2px 2px #507DBC;
}
.more-content .dropdown-hidden {
  display: none;
}
.more-stories {
  height: 176.44px;
}
.more-stories img {
  max-width: 100%;
}
.more-stories:hover {
  transform: scale(1.1);
  z-index: 1;
}
.about-us {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.about-us .person {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: 20px 5px;
  color: #011638;
}
.about-us .person img {
  height: 150px;
  border-radius: 50%;
  transition: linear 0.1s;
}
.about-us .person img:hover {
  box-shadow: 5px 5px 10px 1px #2C406F;
  transform: scale(1.1);
}
.about-us .person p {
  font-size: 0.7rem;
  margin: 0;
  color: #507DBC;
}
h2 {
  text-align: center;
}
.tabs {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 50px;
}
.tabs .topics {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  color: white;
  background-color: #2C406F;
  border: 2px solid #011638;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: white;
  color: #2C406F;
  border: 2px solid black;
}
