.about-us {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .person {
        border: 1px solid #2C406F;
        padding: 10px;
        width: 200px;
        height: 200px;
        margin: 20px 5px;
        background-color: #507DBC;
        color: #FBF5F3;
    }
}