.more-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 10%;
    margin: 10px 0;

    h5, p {
        margin:0
    }
}

.more-stories {
    img {
        max-width: 100%;
        
    }
}