.more-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 10%;
    margin: 10px 0;

    h5, p {
        margin:0
    }
}

.more-stories {
    height: 176.44px;
    img {
        max-width: 100%;        
    }
}
.more-stories:hover {
    transform: scale(1.1);
    // background-image: url("../Images/danny-postma-336034-unsplash.jpg");
    z-index: 0;
    box-shadow: 2px 2px 2px #507DBC;	
}