.nav-bar{
    margin-bottom: 40px;
    position: sticky;
    
    .nav {
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        // background-color: #f7c3cb;

        img {
          max-height: 40px;
            width: auto;
        }

        .nav-items {
        width: 50%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 0 20px;
        font-size: .8rem;

            a {
            text-decoration: none;
            color: rgb(78, 134, 218)
            }
            div {
               color: rgb(78, 134, 218);
            }
         }
    
    
}
}