.nav-bar {
    margin-bottom: 40px;
    // position: sticky;
    @media @mobile {
        margin-bottom: 10px;
    }
    .nav {
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        // background-color: #f7c3cb;

        @media @mobile {
            flex-flow: column;
        }

        img {
          max-height: 40px;
            width: auto;
        }

        .nav-items {
        width: 50%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        font-size: .8rem;

        @media @mobile {
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
        }

            a {
            text-decoration: none;
            color: #2C406F;
            @media @mobile {
                padding: 5px;
                }
            }         
        }
    
    }  
}

            // .dropdown {
            //     z-index: 2;
            //     position: absolute;
            //     left: 25px;
            //     cursor: pointer;
            //     .dropdown-button {
            //       color: #2C406F;
            //     //   &:hover {
            //     //     color: red;
            //     //   }
            //     }
            //     .dropdown-content {
            //       width: 100%;
            //       position: absolute;
            //     //   background-color: @white;
            //       display: flex;
            //       flex-direction: column;
            //       align-items: center;  
            //       margin-top: 10px;
            //     //   border: 2.5px solid @lambda-red;
            //     }
            //     .dropdown-link {
            //       width: 100%;
            //       text-align: center;
            //       padding: 15px 0;
            //       font-size: 18px;
            //       text-decoration: none;
            //     //   color: @lambda-red;
            //     //   &:hover {
            //     //     color: @white;
            //     //     background-color: @lambda-red;
            //     //   }
            //     }
            //     .dropdown-hidden {
            //       display: none;
            //     }
            //   }