.story-content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: white;

    div {
        // background:lightgray;
        // margin: 10px;
        width: 33%;
        text-align: center;
        
    }

    .story-1 {
        background-image: url("../Images/danny-postma-336034-unsplash.jpg"); 
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .story-2 {
        background-image: url("../Images/bruno-nascimento-255461-unsplash.jpg"); 
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    .story-3 {
        background-image: url("../Images/bailey-torres-677237-unsplash.jpg"); 
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}